.section {
  width: 650px;
  margin: 0 auto;
}
p {
  margin: 0;
}
.dropDown {
  width: 100%;
}
.form-check ul {
  list-style: none;
  padding: 0;
}
/* .form-check ul li label {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 5px 0;
} */
/* .form-check ul li:hover {
  background: #ccc;
} */
/* .resultBox {
  width: 30%;
  margin: 2em 0;
  padding: 38px 0px;
} */
.main-form {
  display: flex;
}
/* .resultBox div {
  padding-left: 10px;
  border: 1px solid;
  margin: 10px;
} */
/* --------------------- */
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.main-left,
.p-text {
  font-size: 15px;
  font-weight: bold;
  color: #b10000;
  width: 20%;
}
.main-right {
  width: 80%;
}
.showform {
  position: relative;
}
.select-form-result {
  display: flex;
  align-items: center;
}
.result {
  width: 70%;
  background: #eae8e8cc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 8px;
  min-height: 21px;
}
.btn-reset {
  margin-left: 10px;
  border: none;
  background: none;
  color: #b10000;
  font-size: 15px;
  margin-top: 10px;
  align-items: center;
  display: flex;
}
.btn-dropdown {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background: none;
  position: relative;
  min-height: 42px;
}
.btn-dropdown:before {
  content: "";
  position: absolute;
  background: url(https://cdn2.iconfinder.com/data/icons/music-player-icons-filled/57/Double_Arrows-512.png);
  background-size: 10px;
  z-index: 10;
  height: 22px;
  right: 5px;
  width: 16px;
  top: 10px;
  background-repeat: no-repeat;
}
.form-check-dropdown {
  padding: 0 1em;
  /* display: none; */
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px 0px #ccc;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  background: white;
  padding-top: 14px;
}

/* .btn-dropdown:focus-within + .form-check-dropdown {
  display: block;
} */

#search {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 18px;
  box-sizing: border-box;
}
/* custom input checkbox */

.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 23px;
  background-color: #fff;
  border: 1px solid #b10000;
  box-sizing: border-box;
  border-radius: 4px;
}
.container-check input:checked ~ .checkmark:after {
  display: block;
}
ul#listData li:hover {
  background: #ccc;
}
.container-check .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-check input:checked ~ .checkmark {
  background-color: #b10000;
}
.list-item {
  display: inline;
}
.center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 55px;
  box-sizing: border-box;
  color: #989898;
  margin-top: 10px;
}
label.small {
  font-size: 10px;
  position: absolute;
  top: 2px;
  font-weight: bold;
  color: #969595;
}
label.m-10 {
  padding-top: 8px;
  display: block;
}
.m-t {
  margin-top: 10px;
}
.result .list-item {
  color: #808080;
}
p.result img {
  position: absolute;
  right: 5px;
  top: 8px;
  width: 5%;
}
p.result {
  position: relative;
}
.btn-reset img {
  padding-right: 5px;
}
.btn-reset:focus {
  border: none;
  outline-color: white;
}
